.question-wrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.select select {
  padding: 0.25rem;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: 1px solid white;
  cursor: pointer;
}


.select select option {
  color: black;
  font-size: 1.2rem;
}

.nextBtn {
  width: 100%;
  padding: 0.3rem;
  background-color: #f9ad43;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
